<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemons:</p>
    <% @trainer.pokemons.each do |pokemon| %>
    	<p> <%= button_to "Damage!", damage_path(id: pokemon), :class => "button medium", :method => :patch %> </p>
		<p> <%= pokemon.name %> </p>
		<p> <%= pokemon.level %> </p>
		<p> <%= pokemon.health %> </p>
    <% end %>


